doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title app_title
    //meta(name='description', content='Lorem...')
    //meta(name='keywords', content="lorem, ipsum")
    //link(rel='author', href='humans.txt')
    link(rel='stylesheet', href='assets/main.min.css')

  body

    header
      h1: a(href="/", title="Homepage") app_title

    script(src="assets/main.min.js")
